body{
    padding-top:50px;
}

.carousel{
    height:400px;
    background-color:#000;
    margin-bottom:25px;
}
.carousel .item{
    height:400px;
    background-color:#000;
}
.carousel img{
    width:100%;
}
.carousel-caption p{
    line-height:1.5em;
    margin-bottom:10px;
    font-size:20px
}
.face_img img{
    weight:100px;
    height:100px;
    border-radius: 50px
}

.summary_container{
    text-align:center;
}

hr .divider{
    margin:30px 0;
}

 .container_center > .row{
    text-align:center;
}